[Unit]
Description=Ubuntu Drivers D-Bus Service

[Service]
Type=dbus
BusName=com.ubuntu.Drivers
ExecStart=/usr/libexec/ubuntu-drivers-dbus-service
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
Alias=dbus-com.ubuntu.Drivers.service
