[Unit]
Description=Ubuntu Drivers D-Bus Service

[Service]
Type=dbus
BusName=org.ubuntu.Drivers
ExecStart=/usr/libexec/ubuntu-drivers-dbus-service
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1
