Source: ubuntu-drivers-common
Section: admin
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 7.0.50~),
 po-debconf,
 python (>= 2.6),
 python-setuptools,
 libpciaccess-dev (>= 0.12.1-2),
 lib32gcc1 [amd64], libc6-i386 [amd64],
 linux-libc-dev,
 pkg-config,
 python-xkit,
 aptdaemon,
 python-aptdaemon.pkcompat,
 python-aptdaemon.test (>= 0.43+bzr810-0ubuntu2~),
 python-gi,
 gir1.2-glib-2.0,
 gir1.2-packagekitglib-1.0,
 alsa-utils,
 dbus
Standards-Version: 3.9.3
Vcs-Git: git://github.com/tseliot/ubuntu-drivers-common.git
Vcs-Browser: https://github.com/tseliot/ubuntu-drivers-common
X-Python-Version: >= 2.6

Package: ubuntu-drivers-common
Architecture: any
Pre-Depends: dpkg (>= 1.15.7.2)
Depends: ${python:Depends}, 
 ${misc:Depends},
 ${shlibs:Depends},
 debconf (>= 0.5.00) | debconf-2.0,
 pciutils,
 python-apt,
 python-xkit,
 alsa-utils
Suggests: python-packagekit
Replaces: nvidia-common (<< 1:0.2.46)
Conflicts: nvidia-common (<< 1:0.2.46)
Breaks: packagekit-backend-aptcc
Provides: nvidia-common
Enhances: python-aptdaemon.pkcompat, packagekit
XB-Python-Version: ${python:Versions}
Description: Detect and install additional Ubuntu driver packages
 This package aggregates and abstracts Ubuntu specific logic and knowledge
 about third-party driver packages. It provides:
 .
  - a Python API for detecting driver packages for a particular piece of
    hardware or the whole system.
 .
  - an "ubuntu-drivers" command line tool to list or install driver packages
    (mostly for integration in installers).
 .
  - a PackageKit plugin for WhatProvides() for types MODALIAS and
    HARDWARE_DRIVER, to do the same queries as above through the PackageKit API
    (for using in non-distro specific GUIs). This also works with aptdaemon's
    PackageKit compatibility layer (python-aptdaemon.pkcompat).
 .
  - some NVidia specific support code to find the most appropriate driver
    version, as well as setting up the alternatives symlinks that the
    proprietary NVidia and FGLRX packages use.
 
Package: nvidia-common
Section: oldlibs
Priority: extra
Architecture: i386 amd64 armel armhf
Depends: ubuntu-drivers-common, ${misc:Depends}
Description: transitional package for ubuntu-drivers-common
 This is a transitional package for ubuntu-drivers-common. You can remove it
 after upgrading.
