#!/usr/bin/make -f
DEB_VERSION=$(shell dpkg-parsechangelog | grep ^Version | cut -f2 -d\ |cut -f1 -d-)

%:
	dh "$@" --with python2,apport

override_dh_auto_test:
ifeq (, $(findstring nocheck, $(DEB_BUILD_OPTIONS)))
	./setup.py egg_info
	PYTHONPATH=. tests/run
endif

override_dh_install:
	dh_install --fail-missing

	# build dh_modaliases manpage
	mkdir -p debian/dh-modaliases/usr/share/man/man1
	pod2man -c Debhelper -r "$(DEB_VERSION)" debhelper/dh_modaliases debian/dh-modaliases/usr/share/man/man1/dh_modaliases.1

override_dh_clean:
	rm -f share/hybrid/hybrid-detect
	rm -f quirksreader_test*.txt
	rm -rf *.egg-info
	dh_clean
